/* ========================================================================================================================
   Global Styles
======================================================================================================================== */

body { 
    margin: 0; 
    padding: 0; 
    font-family: "Manrope", sans-serif;
    font-style: normal;
}
h1 {
    font-size: 2rem;
    font-weight: bold;
}
@media (max-width: 768px) {
    h1 {
        font-size: 1.5rem;
    }
}
.container {
    max-width: 800px;
    width: 100%;
    align-items: center;
    margin: 0 auto; /* Centers the container */
    text-align: left; /* Ensures content inside is left-aligned */
    padding-top: 70px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: white;
}
.container h2 {
    margin-top: 2.8rem;
}
p {
    font-style: normal;
    font-size: 0.78rem;
}
.feedback-cta {
    font-size: 0.7rem;
    color: #757575;
}
table {
    width: 100%;
    max-width: 800px;
    margin-bottom: 20px;
    display: block;
}
th, td {
    border: 2px solid white;
    padding: 1.1rem;
    text-align: left;
    vertical-align: top;
    font-size: .8rem;
}
th {
    color: black;
}
a {
    text-decoration: none;
    color: #498bf7;
}
ul {
    padding-left: 20px;
    font-size: .8rem;
}
.carousel {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    gap: 10px;
    padding-top: 0px;
    padding-bottom: 10px;
    margin-top: 0px;
    margin-bottom: 0rem;
    height: 405px;
}
.instagram-media {
    min-height: 400px !important;
    margin: auto; /* Centers the embed */
}
.accordion {
    cursor: pointer;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    background-color: black;
    color: white;
    font-size: .8rem;
    font-weight: bold;
    margin-top: 1rem;
}
.accordion-icon {
    position: relative;
    top: 4px;
    width: 17px;
    height: 17px;
}
.accordion-panel {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 10px;
    text-align: left;
    outline: none;
    background-color: #ffffff;
    font-size: .8rem;
}
.featureCard {
    background-color: #ececec;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.featureCard h2 {
    font-size: 1.2rem;
    margin-top: 0rem;
}
.featureCard h3 {
    font-size: 1rem;
    margin-top: 2rem;
    margin-bottom: 0rem;
}
.featureCard table {
    margin: 0px;
    padding: 0px;
    width: 100%;
    table-layout: fixed;
}
.featureCard th, td {
    border: 2px solid white;
    padding: 10px;
    text-align: left;
    vertical-align: top;
    font-size: .8rem;
    width: 50%;
}
.featureCard ol {
    margin: 0px;
    padding-left: 10px;
}
.jetty-image-container {
    width: 220px;
    max-height: 150px;
    overflow: hidden;
    align-items: center;
    display: flex;
    justify-content: center;
}
.jetty-image-container img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
    display: block;
}
/* #hidden-top {
    position: fixed;
    top: -200px;
} */
.btn-back-to-top {
    position: sticky;
    top: calc(100vh - 50px);
    left: 15px;
    background-color: black;
    color: white;
    padding: 10px 1.2rem;
    border: none;
    cursor: pointer;
    font-size: 0.9rem;
    transition: background 0.3s;
}
.btn-back-to-top:hover {
    background-color: #498bf7;
}
.section-icon {
    height: 20px;
    width: 20px;
}

/* ========================================================================================================================
   Navigation Bar
======================================================================================================================== */

.navbar {
    position: fixed;
    width: 100%;
    display: flex;
    align-items: left;
    justify-content: space-between;
    background-color: black;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    top: 0px;
    height: 80px;
}
.logo-and-title {
    display: flex;
    align-items: center;
    gap: 1.2rem;
}
.logo-and-title img {
    padding-top: 5px;
    height: 40px;
    width: auto;
    align-items: center;
}
.nav-title {
    margin-bottom: .2rem;
    display: block;
    font-size: 2rem;
    font-weight: bold;
}
.nav-links {
    display: flex;
    align-items: center;
    gap: 1.2rem;
    margin: .2rem;
    padding-right: 35px;
}
.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 0.9rem;
    transition: color 0.3s;
}
.nav-links .nav-a-current {
    color: #498bf7;
}
.nav-links a:hover {
    color: #498bf7;
}
.btn {
    background-color: white;
    color: black;
    padding: 8px 1.2rem;
    border: none;
    cursor: pointer;
    font-size: 0.9rem;
    transition: background 0.3s;
}
.btn:hover {
    background-color: #498bf7;
}
.hamburger {
    position: fixed;
    right: 20px;
    top: 25px;
    display: none;
    cursor: pointer;
    z-index: 200001;
}
.hamburger div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
    z-index: 200001;
}
.nav-links-mobile {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 80px;
    right: 20px;
    background-color: black;
    width: 40%;
    text-align: right;
    z-index: 2000001;
}
.nav-links-mobile a {
    padding-right: 1.1rem;
    padding-bottom: 10px;
}
/* Responsive for Mobile */
@media (max-width: 768px) {
    .navbar {
        text-align: left;
        gap: 10px;
        width: 100%;
    }
    .logo-and-title img {
        align-items: center;
    }
    .nav-title {
        margin-top: 5px;
        font-size: 1.5rem;
        font-weight: bold;
    }
    .nav-links {
        display: none;
    }
    .hamburger {
        display: block;
    }
}

/* ========================================================================================================================
   Map page and map elements
======================================================================================================================== */

/* ===================================================================================================================== */
/* Map page intro info panel and popup */

#panel {
    position: fixed;
    bottom: 0;
    top: 80px;
    right: 0;
    width: 280px;
    color: white;
    background: rgb(27, 27, 27);
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
    padding: 20px;
    z-index: 5001;
    overflow-y: scroll;
}
#panel h1 {
    font-size: 1rem;
    margin-top: 0rem;
    padding-top: 0rem;
}
#panel h2 {
    font-size: 1.2rem;
}

/* Popup Style (Hidden by Default) */
#popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    max-width: 300px;
    max-height: 1000px;
    color: white;
    background: black;
    padding: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    overflow-y: scroll;
    z-index: 5001;
}
#popup h1 {
    font-size: 1rem;
    margin-top: 0rem;
    padding-top: 0rem;
}
#popup h2 {
    font-size: 1.2rem;
}
/* Mobile View: Hide Info Pane & Show Popup */
@media (max-width: 768px) {
    #panel {
        display: none;
    }
    #popup {
        display: block;
    }
}

.close-btn {
    position: absolute;
    top: 1.1rem;
    right: 1.8rem;
    width: 5px;
    height: 5px;
    cursor: pointer;
    color: #a5acb8;
    background: none;
    border: none;
}

#info-icon {
    position: fixed;
    top: 5.4rem;
    right: 1rem;
    color: black;
    cursor: pointer;
    font-size: 20px;
    z-index: 2002;
    display: none;
}

/* ===================================================================================================================== */
/* Map */

#main-element {
    position: absolute;
    top: 80px;
    width: 100%;
    height: calc(100vh - 55px);
}
#map {
    position: fixed;
    top: 80px;
    height: calc(100vh - 80px);
    width: 100%; 
    visibility: hidden;
    z-index: 2;
}
#loading { 
    position: fixed;
    top: 0; left: 0; width: 100%; height: 100%;
    background: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
}

/* ===================================================================================================================== */
/* Map legend */

#legend {
    position: fixed;
    top: 100px;
    left: 20px;
    background: rgba(255, 255, 255, 1);
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-left: .9rem;
    padding-right: .8rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    font-size: 0.85rem;
}
#legend p {
    margin-top: 0.3rem; 
    margin-bottom: 0.3rem;
}
.legend-item {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    font-size: 0.78rem;
}
.legend-color {
    width: 10px;
    height: 10px;
    margin-right: 5px;
    display: inline-block;
}
@media (max-width: 768px) {
    #legend {
        top: 80px;
        left: 0rem;
    }
    #legend p {
        font-size: 0.7rem;
    }
    .legend-item {
        font-size: 0.7rem;
    }
}
/* Legend Info Icon Tooltip Container */
.tooltip-container {
    position: relative;
    top: 0.1rem;
    display: inline-block;
    cursor: pointer;
}
/* Legend Info Icon Styling */
.legend-info {
    width: 0.7rem;
    height: 0.7rem;
    color: #989898;
    margin-left: 0.3rem;
}
/* Legend Info Icon Tooltip Box */
.tooltip {
    position: absolute;
    bottom: 150%; /* Place above the icon */
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(30, 30, 30);
    color: white;
    padding: 8px;
    border-radius: 5px;
    font-size: .7rem;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    min-width: 200px; /* Set min width */
    max-width: 400px; /* Set max width */
    white-space: normal; /* Enable text wrapping */
    word-wrap: break-word; /* Ensure long words break */
}
/* Arrow under tooltip */
.tooltip::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-width: 6px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}
/* Show tooltip on hover (Desktop) */
.tooltip-container:hover .tooltip {
    visibility: visible;
    opacity: 1;
}
/* Mobile: Show tooltip on click */
@media (max-width: 768px) {
    .tooltip-container:hover .tooltip {
        visibility: hidden; /* Disable hover tooltip on mobile */
    }
}

/* ===================================================================================================================== */
/* Map feature popups */

/* Hovered */

.popup-hover {
    background-color: rgba(255, 255, 255, 0.2);
    z-index: 6000;
}
.popup-hover h1 {
    font-size: .7rem;
}
.popup-hover p {
    font-size: .7rem;
    color: #757575;
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
    padding: 0px;
}
.popup-hover-route i {
    display: block;
    width: 20px;
    height: 20px;
    color: black;
}

/* Clicked */

.popup-clicked {
    max-height: 300px;
    max-width: 100px;
    overflow-y: auto;
    overflow-x: none;
    z-index: 6000;
}
.popup-clicked h1 {
    font-size: 1rem;            
}
.popup-clicked h2 {
    font-size: .9rem;            
}
.popup-clicked p {
    font-size: .7rem;
    color: #757575;    
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;        
}
.popup-clicked-jetty .leaflet-popup-tip {
    display: none;
}
.popup-clicked-route .leaflet-popup-tip {
    display: none;
}
.popup-table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    font-size: .7rem;
    color: #757575;    
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;  
}
.popup-table td {
    width: 50%;
    padding: 5px;
    border: 1px solid black;
}

/* ===================================================================================================================== */
/* Map search/zoom to location */

#search-box {
    position: fixed;
    top: 19.5rem;
    left: .8rem;
    z-index: 1002;
}
#search-box button {
    background-color: black;
    color: white;
    border-color: white;
    border-width: 0px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 0.4rem;
    width: 1.5rem;
    margin: 0px;
}
#search-input {
    background-color: white;
    border-color: white;
    border-width: 0px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 0.4rem;
    font-family: "Manrope";
    font-size: 0.7rem;
    width: 8.75rem;
    margin: 0px;
}
@media (max-width: 768px) {
    #search-box {
        top: 16.8rem;
        left: 0rem;
    }
    #search-input {
        width: 8rem;
    }
}